@import 'material-icons/iconfont/material-icons.css';
@import 'material-icons/iconfont/filled.css';
@import 'material-icons/iconfont/outlined.css';
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css');
@import './const.scss';
@import './util.scss';
@import './transition.scss';

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(@/assets/fonts/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(@/assets/fonts//NotoSansKR-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(@/assets/fonts//NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(@/assets/fonts//NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(@/assets/fonts//NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(@/assets/fonts/NotoSansKR-Black.otf) format('opentype');
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

a {
  text-decoration: none;
}
