@import '../../common.scss';

.date-picker {
  position: relative;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .icon-cal {
    font-size: 20px;
    color: rgb(121, 121, 121);
    margin-left: 5px;
  }

  &.error input[type=text] {
    border: 1px solid map-get($theme-colors, 'danger');
  }

  input[type=text] {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .picker-popup {
    position: absolute;
    // border-radius: 3px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    background: #fff;
    z-index: 100;
    line-height: 1;
    width: max-content;

    .search-date {
      padding: 10px;
      border-bottom: 1px solid $gray-300;
      text-align: left;

      a {
        display: inline-block;
        text-decoration: none;
        border: 1px solid $gray-300;
        font-size: 14px;
        padding: 0 12px;
        line-height: 30px;
        color: $gray-800;
        // border-radius: 3px;

        & + a {
          margin-left: 3px;
        }

        &.active {
          background-color: $gray-500;
          color: #fff;
        }
      }
    }

    .start-end-text {
      line-height: 45px;
      font-size: 15px;
      font-weight: 400;
      text-align: center;
      border-bottom: 1px solid $gray-300;
      color: #444;
    }

    &.single .calendar {
      height: 284px;
    }

    .picker-wrap {
      .calendar-inner {
        text-align: center;
        font-size: 0;
      }

      .calendar {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;

        &.end_calendar {
          border-left: 1px solid $gray-300;
        }
      }

      .select-year-month {
        width: 210px;
        height: 30px;
        margin: 15px auto;
        text-align: center;
        font-size: 13px;

        select:nth-child(1) {
          min-width: 80px !important;
        }

        select:nth-child(2) {
          min-width: 50px !important;
        }

        button {
          display: inline-block;
          margin-left: 5px;
          border: 0;
          height: 25px;
          line-height: 25px;
          width: 25px;
          text-align: center;
          background-color: teal;
          color: #fff !important;
          // border-radius: 5px;
        }
      }


      .select-calendar {
        width: 210px;
        margin: 0 auto;

        ul {
          display: table;
          width: 100%;
          font-size: 14px;
          font-weight: 400;
          margin: 0;
          padding-left: 0;

          li {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            width: 30px;
            height: 30px;
            cursor: pointer;

            &.beforeMonth,
            &.afterMonth {
              color: $gray-500 !important;
            }

            &.today {
              background: #425cf432;
            }

            &.date-range {
              background: #eceefe;
            }

            &.select,
            &.date-start {
              background: #425cf4;
              color: #fff !important;
            }

            &.disabled {
              color: $gray-300 !important;
            }
          }

          &.header li {
            cursor: default !important
          }

          &:not(.header) {
            li.date-start:hover {
              color: #fff !important;
              background: rgba(#425cf4, 0.8);
            }

            li:not(.date-start):hover {
              color: #222 !important;
              background: #f1f1f1;
            }
          }

          li:first-child {
            color: map-get($theme-colors, 'danger');
          }

          li:last-child {
            color: map-get($theme-colors, 'primary');
          }

          &:first-child li {
            color: $gray-500;
          }
        }
      }

      .btn-area {
        padding: 10px;
        border-top: 1px solid $gray-300;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .select-date {
          font-size: 0.9em;

          &.selected-error {
            color: map-get($theme-colors, 'danger');
          }
        }

        a {
          display: inline-block;
          text-decoration: none;
          border: 1px solid $gray-300;
          font-size: 14px;
          padding: 0 15px;
          line-height: 32px;
          color: $gray-800;
          // border-radius: 3px;

          &:hover {
            background-color: $gray-100;
          }

          &.okay {
            border: none;
            background-color: map-get($theme-colors, 'primary');
            color: #fff;
            margin-left: 5px;

            &:hover {
              background-color: darken(map-get($theme-colors, 'primary'), 10);
            }
          }
        }
      }
    }
  }

  &.show .picker-popup {
    display: block;
  }

  &.show .picker-date-text:after {
    transform: rotate(-180deg);
    transition: all 0.5s;
  }

  .picker-date-text {
    width: 100%;
    border: 1px solid $gray-300;
    border-radius: $border-radius;
    height: 40px;
    padding: 10px 15px;
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      border: 0 !important;
      flex: 1;
      padding: 0;
      margin: 0;
      text-align: center;
      background-color: transparent;
      color: $gray-800;

      &:focus {
        outline: none;
      }
    }

    i {
      margin-top: 2px;
      color: $gray-800;

      & + input {
        margin-left: 5px;
      }

      &::before {
        font-size: 23px;
      }
    }

    p {
      display: block;
    }

    &.error {
      border-color: map-get($theme-colors, 'danger');

      & * {
        color: map-get($theme-colors, 'danger');
      }
    }

    &.disabled {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .calendar-inner {
    min-height: 257px;
  }

  .select-calendar-wrap {
    width: 300px;
    height: 240px;
    min-height: 210px !important;
    padding: 0 30px;
  }
}

.ml-1 {
  margin-left: 3px;
}

/* transitions */
.picker-scale-enter-from,
.picker-scale-leave-to {
  opacity: 0;
  transform: scale(0.5);
}
.picker-scale-enter-active,
.picker-scale-leave-active {
  transition: all 0.2s ease-out;
}

.trans-left-enter-from {
  opacity: 0;
  transform: translateX(20px);
}
.trans-left-leave-to {
  opacity: 0;
  transform: translateX(-20px);
}
.trans-left-enter-active,
.trans-left-leave-active {
  transition: all 0.1s ease-out;
}

.trans-right-enter-from {
  opacity: 0;
  transform: translateX(-20px);
}
.trans-right-leave-to {
  opacity: 0;
  transform: translateX(20px);
}
.trans-right-enter-active,
.trans-right-leave-active {
  transition: all 0.1s ease-out;
}

.trans-down-enter-from {
  opacity: 0;
  transform: translateY(-20px);
}
.trans-down-leave-to {
  opacity: 0;
  transform: translateY(20px);
}
.trans-down-enter-active,
.trans-down-leave-active {
  transition: all 0.1s ease-out;
}

.select-month {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 210px;
  font-size: 14px;

  i {
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
  }

  span {
    cursor: pointer;
    font-size: 1.1em;
    position: relative;

    & + span {
      text-align: right;
    }
  }
}

.selector-box {
  position: absolute;
  top: 100%;
  left: calc(-50% + 12px);
  background-color: #555;
  padding: 8px 4px 8px 8px;
  margin-top: 5px;
  // border-radius: 3px;

  &.month {
    left: calc(-50% + 7px);
  }

  .selector-box-wrap {
    position: relative;

    .arrow {
      position: absolute;
      transform: rotate(45deg);
      background-color: #555;
      width: 5px;
      height: 5px;
      top: -11px;
      left: calc(50% - 3px);
    }

    ul {
      max-height: 210px;
      overflow-y: auto;
      padding: 0;
      margin: 0;
      list-style: none;

      &::-webkit-scrollbar {
        width: 4px
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgb(7, 78, 158);
        border-radius: 2px;
      }
      &::-webkit-scrollbar-track {
        background-color: #888;
        border-radius: 2px;
      }

      li {
        padding: 5px 8px;
        color: #ccc;
        // border-radius: 3px;
        margin-right: 3px;

        &.active,
        &:hover {
          background-color: $gray-100;
        }
      }
    }
  }
}

.trans-slide-down-enter-from,
.trans-slide-down-leave-to {
  opacity: 0;
  transform: translateY(-10px)
}
.trans-slide-down-enter-active,
.trans-slide-down-leave-active {
  transition: all 0.2s ease-out;
}