@import '../../common.scss';

.input-wrap {
  display: inline-block;
  position: relative;

  &.with-label {
    margin-top: 0.3em;
  }

  input {
    width: 100%;
    border: 1px solid $gray-300;
    // border-radius: $border-radius;
    height: 40px;
    padding: 10px 15px;
    margin: 0;
    text-align: right;
    color: $gray-800;

    &:focus {
      outline: none;
      border-color: map-get($theme-colors, 'primary');
    }

    &.error {
      border-color: map-get($theme-colors, 'danger');
    }

    &:disabled {
      background-color: $gray-100;
    }

    &::placeholder {
      color: $gray-500;
      font-weight: 400;
    }
  }

  &.error input {
    border: 1px solid map-get($theme-colors, 'danger');
  }
}
