@import '../common.scss';

.input-wrap {
  display: inline-block;
  position: relative;

  &.with-label {
    margin-top: 0.3em;
  }

  input {
    width: 100%;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;

    &::placeholder {
      text-align: left !important;
    }
  }

  &.error input {
    border: 1px solid $error-color;
  }
}
