@import '@/assets/style/const.scss';

// $btn-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
$btn-box-shadow: none;

.btn {
  font-size: 15px;

  &:not(.text) {
    display: inline-block;
    box-shadow: $btn-box-shadow;
    border-radius: $border-radius;
    border: 0;
    padding: 0 16px;
    height: 40px;
    transition: background-color 0.2s ease;

    &.small {
      padding: 0 12px;
      height: 32px !important;
      font-size: 14px;
    }

    &.block {
      display: block !important;
      width: 100%;
    }

    .btn-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    @each $key, $value in $theme-colors {
      @if $key != light {
        &.#{$key} {
          background-color: $value;
          color: white;

          &.disabled {
            background-color: lighten($value, 25);
            color: white;
          }

          &:not(.disabled):hover {
            background-color: darken($value, 10);
          }

          &:not(.disabled):active {
            background-color: $value !important;
          }
        }
      }
    }

    &.outline {
      color: $gray-800;
      background-color: $white;
      border: 1px solid $gray-300;

      &:not(.disabled):hover {
        background-color: $gray-100;
      }

      &.disabled {
        color: $gray-300;
        border-color: $gray-300;
      }
    }

    &.icon {
      width: 40px;

      &.small {
        width: 32px;

        i::before {
          font-size: 16px;
        }
      }

      @each $key, $value in $theme-colors {
        @if $key != light {
          &.#{$key} {
            background-color: $value;
            color: $white;

            &:hover {
              background-color: darken($value, 10);
            }
          }
        }
      }
    }

    // DropMenu 연동
    i {
      transition: transform 0.2s;
      font-size: 20px;

      &.rotate {
        transform: rotate(180deg);
      }
    }

    &:not(.icon) {
      &.right {
        i {
          font-size: 20px;
          margin-left: 8px;
        }
      }

      &.left {
        i {
          font-size: 20px;
          margin-right: 8px;
        }
      }
    }

    .loading {
      transform-origin: center center;
      animation: spinner 1s infinite;
    }
  }

  &.text {
    i {
      color: $gray-400;
      margin-right: 7px;
    }

    &.right i {
      margin-left: 7px;
    }

    &:hover {
      text-decoration: underline;
    }

    @each $key, $value in $theme-colors {
      &.#{$key} {
        color: $value;

        &:hover {
          i {
            color: $value;
          }
        }
      }
    }
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  50% {
    opacity: 0.5;
  }

  to {
    transform: rotate(360deg);
  }
}