@import '@/assets/style/const.scss';

// $btn-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
$btn-box-shadow: none;

.btn {
  display: inline-block;
  box-shadow: $btn-box-shadow;
  border-radius: $border-radius;
  border: 0;
  padding: 0 1.5em;
  height: 40px;
  transition: background-color 0.2s ease;
  font-size: 15px;

  &.small {
    padding: 0 12px;
    height: 32px !important;
    font-size: 14px;
  }

  &.block {
    display: block !important;
    width: 100%;
  }

  .btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  @each $key, $value in $theme-colors {
    &.#{$key} {
      background-color: $value;

      @if $key == light {
        color: $gray-800;
      } @else {
        color: white;
      }

      &.disabled {
        background-color: lighten($value, 40);
        color: white;
      }

      &:not(.disabled):hover {
        @if $key == dark {
          background-color: lighten($value, 20);
        } @else {
          background-color: darken($value, 8);
        }
      }

      &:not(.disabled):active {
        background-color: $value !important;
      }

      &.outline {
        background-color: transparent;

        @if $key == light {
          border: 1px solid #606060;
          color: #606060;
        } @else {
          border: 1px solid $value;
          color: $value;
        }

        &:active {
          background-color: white !important;
        }

        &:hover {
          @if $key == light {
            background-color: rgba($gray-800, 0.15);
          } @else {
            background-color: rgba($value, 0.15);
          }
        }
      }
    }
  }

  &.icon {
    box-shadow: none !important;
    padding: 0 !important;
    width: 2em !important;
    height: 2em !important;
    border-radius: 50% !important;

    @each $key, $value in $theme-colors {
      @if $key != light {
        &.#{$key} {
          background-color: transparent;
          color: $value !important;

          &:hover {
            background-color: rgba($value, 0.15);
          }
        }
      }
    }
  }

  i {
    transition: transform 0.2s;
    font-size: 20px;

    &.rotate {
      transform: rotate(180deg);
    }
  }

  &:not(.icon) {
    &.right {
      i {
        font-size: 20px;
        margin-left: 3px;
      }
    }

    &.left {
      i {
        font-size: 20px;
        margin-right: 3px;
      }
    }
  }

  .loading {
    animation: spinner 1s infinite;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  50% {
    opacity: 0.5;
  }

  to {
    transform: rotate(360deg);
  }
}