@import '../common.scss';

.list-table {
  overflow: auto;
  position: relative;

  &.scroll-hold {
    overflow: hidden !important;
  }

  table {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    // box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
    border-spacing: 0;

    &.no-box-shadow {
      box-shadow: none !important;
    }

    // th {
    //   border-width: 1px 0 0 0;
    //   border-style: solid;

    //   & + th {
    //     border-left: 0;
    //   }
    // }

    // td {
    //   border-width: 1px 0 0 0;
    //   border-style: solid;
    //   border-color: $gray-300;

    //   & + td {
    //     border-left: 0;
    //   }
    // }

    // tbody {
    //   tr:last-child {
    //     td, th {
    //       border-bottom: 1px solid $gray-300;
    //     }
    //   }
    // }

    .columns {
      cursor: pointer;
      display: flex;
      align-items: center;

      &.center {
        justify-content: center;
      }
      &.left {
        justify-content: space-between;
      }
      &.right {
        justify-content: flex-end;
      }
    }

    .sorting {
      transition: all .2s;
      transform-origin: center;
      color: $gray-400;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;

      &:hover {
        color: $gray-800;
      }

      &.desc {
        transform: rotate(360deg);
      }

      &.asc {
        transform: rotate(180deg);
      }
    }

    .sort-cell-text {
      margin-right: 5px;
      position: relative;
    }

    thead {
      top: 0;
      position: sticky;
      z-index: 10;

      th {
        font-size: 14px;
        font-weight: 500;
        color: $gray-800;
        padding: 18px 16px;
        text-align: left;
        background-color: $white;

        border-width: 1px 0 1px 0;
        border-style: solid;
        border-color: $gray-300;
      }
    }

    tbody  {
      tr {
        &:hover {
          background-color: $gray-100;
        }

        td {
          padding: 18px 16px;
          border-style: solid;
          border-color: $gray-300;
          border-width: 0 0 1px 0;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .checkbox-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    input[type=checkbox] {
      position: absolute;
      clip: rect(0, 0, 0, 0);
    }

    input[type=checkbox] + .checkbox::before {
      color: $gray-400;
      content: "\f0131";
      font-size: 24px;
    }

    input[type=checkbox]:checked + .checkbox::before {
      color: $primary;
      content: "\f0132";
      font-size: 24px;
    }

    input[type=checkbox]:disabled + .checkbox::before {
      color: $gray-300;
      content: "\f012e";
      font-size: 24px;
    }
  }
}

.spinner-wrap {
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);

  .spinner {
    display: block;
    width: 50px;
    height: 50px;
    border: 4px solid #fff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s ease-out infinite;
    -webkit-animation: spin 1s ease-out infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}