@import '../common.scss';

.input-wrap {
  display: inline-block;
  position: relative;

  input, textarea {
    width: 100%;
    border: 1px solid #b3b3b3;
    border-radius: $border-radius;
    height: 40px;
    padding: 10px 15px;
    margin: 0;

    &:focus {
      box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, 0.25);
    }

    &.error {
      border-color: map-get($theme-colors, 'danger');
    }
  }

  &.with-label {
    margin-top: 0.3em;
  }

  .with-slot {
    display: flex;
    align-items: center;

    input {
      flex: 1;
      margin-right: 3px;
    }
  }

  &.error input,
  &.error textarea {
    border: 1px solid map-get($theme-colors, 'danger');
  }
}
