@import '../../common.scss';

.select-box {
  display: inline-block;
  position: relative;

  .control-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    border: 1px solid $gray-300;
    // border-radius: $border-radius;
    height: 40px;
    padding: 10px 15px;
    margin: 0;

    .text {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      color: $gray-800;
      font-size: 15px;
      font-weight: 400;

      &.scroll {
        overflow-x: auto;
      }

      &.ph {
        font-size: 13px;
        color: $gray-500;
        font-weight: 400;
      }

      span.label {
        color: $gray-800;
        margin-right: 5px;
      }

      .item {
        display: flex;
        align-items: center;
        background-color: $gray-600;
        padding: 1px 7px;
        color: #fff;
        font-size: 11px;
        font-weight: 400;
        // border-radius: 5px;

        & + .item {
          margin-left: 3px;
        }
      }

      .remove-icon {
        cursor: pointer;
        margin: 0;
        margin-left: 2px;
        font-size: 14px;

        &:hover {
          color: map-get($theme-colors, 'danger');
        }
      }
    }

    .arrow {
      position: absolute;
      width: 16px;
      height: 16px;
      right: 14px;
      transform-origin: center;
      transition: transform 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray-800;

      &.rotate {
        transform: rotate(180deg);
      }

      span::before {
        font-size: 16px;
        cursor: pointer;
      }
    }

    &.disabled {
      background-color: $gray-100;

      .text {
        color: $gray-400;

        span.label {
          color: $gray-400;
          margin-right: 5px;
        }
      }

      .arrow {
        color: $gray-400;
      }
    }

    &.active {
      border-color: map-get($theme-colors, 'primary');
    }

    &.error {
      border: 1px solid map-get($theme-colors, 'danger');

      .arrow {
        span {
          color: map-get($theme-colors, 'danger');
        }
      }
    }

    .option-list {
      position: absolute;
      z-index: 30;
      left: 0;
      width: 100%;
      background-color: #fff;
      list-style: none;
      padding: 0;
      margin: 0;
      // border-radius: 0.3em;
      overflow: hidden;
      box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);

      .search {
        .search-wrap {
          display: flex;
          align-items: center;
          border-bottom: 1px solid $gray-300;
          // border-radius: 5px;

          input {
            padding: 0 13px;
            height: 40px;
            color: $gray-800;
            border: 0;
            flex: 1;
            outline: none;
          }

          span {
            color: $gray-800;

            &::before {
              font-size: 22px;
              padding-right: 10px;
            }
          }
        }
      }

      &.show-top {
        top: calc(100% + 0.5em);
        transform-origin: top;
      }

      &.show-bottom {
        bottom: calc(100% + 0.5em);
        transform-origin: bottom;
      }

      .btn-accept {
        text-align: center;
        color: #000;
        display: block;
        line-height: 3em;
        // background-color: rgba(0, 0, 0, 0.1);
        border-top: 1px solid $gray-300;

        &:hover {
          background-color: $gray-100;
        }
      }

      ul {
        max-height: 25em;
        overflow-y: auto;
        // padding: 5px;

        li {
          padding: 13px;
          transition: background-color 0.3s ease;
          // border-radius: 5px;
          box-sizing: border-box;
          display: flex;
          font-size: 15px;
          font-weight: 400;
          color: $gray-800;

          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          &:hover {
            background-color: $gray-100;
          }

          .checkbox {
            margin-right: 10px;

            &::before {
              color: $gray-400;
              font-size: 16px;
            }

            &.checked::before {
              color: map-get($theme-colors, 'primary');
            }
          }

          &.selected {
            color: map-get($theme-colors, 'primary');

            .checkbox::before {
              color: map-get($theme-colors, 'primary');
            }
          }
        }
      }
    }
  }

  .options-view-enter-from,
  .options-view-leave-to {
    opacity: 0;
    transform: translateY(-10px);
  }
  .options-view-enter-active,
  .options-view-leave-active {
    transition: all 0.3s ease;
  }

  .options-view-bottom-enter-from,
  .options-view-bottom-leave-to {
    opacity: 0;
    transform: translateY(10px);
  }
  .options-view-bottom-enter-active,
  .options-view-bottom-leave-active {
    transition: all 0.3s ease;
  }
}