@import '../common.scss';

.check-button {
  span {
    color: #5b5b5b;
    font-size: 14px;
  }

  label {
    font-size: 1em;
    font-weight: 500;
  }

  .description {
    font-size: 0.875em !important;
    font-weight: normal;
    padding: 0 !important;
    margin-bottom: 0 !important;
    border: 0 !important;
    color: #dc3545;
    text-align: left !important;

    &.error {
      animation: shaking 0.3s;
    }
  }
}

.check-button-group {
  display: inline-block;
  border: 1px solid #4e8acf;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);

  label {
    font-size: 0.9em;
    display: inline-block;
    padding: 0 17px;
    height: 35px;
    line-height: 35px;
    color: #1867c0;
    border-right: 1px solid #4e8acf;
    font-weight: 500;
    transition: all 0.2s ease;

    &.last {
      border-right: 0;
    }
  }

  input:checked + label {
    background-color: #1867c0;
    color: #fff;
  }
}